/* background colors */
.bg-danger {
    background-color:#F44336 !important;
    border-color:#F44336;
    color:#fff;
}

.bg-success {
    background-color:#4CAF50 !important;
    border-color:#4CAF50;
    color:#fff;
}

.bg-warning {
    background-color:#FF5722 !important;
    border-color:#FF5722;
    color:#fff;
}

.bg-info {
    background-color:#00BCD4 !important;
    border-color:#00BCD4;
    color:#fff;
}

.bg-pink {
    background-color:#E91E63 !important;
    border-color:#E91E63;
    color:#fff;
}

.bg-violet {
    background-color:#9C27B0 !important;
    border-color:#9C27B0;
    color:#fff;
}



.bg-indigo {
    background-color:#3F51B5 !important;
    border-color:#3F51B5;
    color:#fff;
}

.bg-blue {
    background-color:#03A9F4 !important;
    border-color:#03A9F4;
    color:#fff;
}

.bg-teal {
    background-color:#009688 !important;
    border-color:#009688;
    color:#fff;
}

.bg-green {
    background-color:#8BC34A !important;
    border-color:#8BC34A;
    color:#fff;
}



.bg-slate {
    background-color:#607D8B !important;
    border-color:#607D8B;
    color:#fff;
}

.bg-white {
    background-color:#fff !important;
    color:#333;
}


/* text colors */
.text-white,.text-white:focus,.text-white:hover { color:#fff!important }
