<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Stackoverflow Lite</title>
       
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    </head>
    <body>
        <!-- header -->
        <header class="header">
            <img src="../static/images/logo.png" class="header__logo"/>
            <a href="javascript:;" class="header__brand_name">StackOverflow-Lite</a>
            <input class="input header__search-input" 
                                type="text"    
                                id="header__search" 
                                name="header__search"
                                placeholder="Search" />
            <div class="header__auth_buttons">
                <a href="login.html" class="btn bg-slate header__button">Logout</a>
            </div>
        </header>

        <!-- content -->
        <div class="content">
            <div class="content__top_bar">
                <div class="content__top_bar--right">
                <a href="ask_question.html" class="btn bg-blue content__question_button">Ask Question</a>
                <a href="profile.html" class="btn bg-green content__question_button">My Profile</a>
                </div>
            </div>
            <div class="content__questions card">
                <h3 class="text-violet">Recent Questions asked by other users (2)</h3>
                <ul class="content__questions_ul">
                    <li>
                        <div class="content__questions_li_question">
                            <a class="pt-20 pr-20 pb-20" href="detail.html">
                                <p>What is an API ?</p>
                            </a>
                            <div class="content__badges">
                                <div class="content__badge">
                                    <i class="fa fa-pencil-square-o  text-success"></i>
                                    <span class="text-success">answers (2)</span>
                                </div>
                                <div class="content__badge">
                                    <i class="fa fa-thumbs-up text-info"></i>
                                    <span class="text-info">votes (2)</span>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="content__questions_li_question">
                            <a class="pt-20 pr-20 pb-20" href="detail1.html">
                                <p>What is Python ?</p>
                            </a>
                            <div class="content__badges">
                                <div class="content__badge">
                                    <i class="fa fa-pencil-square-o  text-success"></i>
                                    <span class="text-success">answers (2)</span>
                                </div>
                                <div class="content__badge">
                                    <i class="fa fa-thumbs-up text-info"></i>
                                    <span class="text-info">votes (0)</span>
                                </div>
                            </div>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </body>
</html>